<app-header></app-header>
<div class="top_content" fxFill>

    <div fxLayout="column" fxLayout.sm="column" fxLayout.xs="column" fxFlex="90" fxFlex.md="99" fxFlex.xs="99"
        fxFlex.sm="99" fxFlexOffset="5" fxFlexOffset.md="1" fxFlexOffset.xs="1" fxFlexOffset.sm="1">
        <div fxFlex>
            <div fxLayout="column" fxLayoutGap="20px" class="add-subscription-subscriber-details">
                <div fxLayoutAlign="center start" class="white padded-above">
                    <div class="heading">{{calYearDispTit}}</div>
                </div>
                <div fxLayoutAlign="center start" class="white padded-above" fxLayoutGap="20px">
                    <div fxFlex fxLayoutGap="20px">
                        <mat-form-field>
                            <mat-label>{{calYearDispTit}}</mat-label>

                            <mat-select (selectionChange)="yearChanged($event)">
                                <mat-option *ngFor="let option of calYearDisp" [value]="option.title">
                                    {{(calYear === true) ? option.title: option.value}}
                                </mat-option>
                            </mat-select>


                        </mat-form-field>
                        <mat-slide-toggle color="primary" [(ngModel)]="calYear" (change)="changeYearType($event)">
                            Calender Year</mat-slide-toggle>
                    </div>
                    <div fxFlex="25">
                        <mat-card>
                            <section fxLayoutAlign="center start">
                                <mat-checkbox class="small-margin" [(ngModel)]="p5" fxFlex>P5</mat-checkbox>
                                <mat-checkbox class="small-margin" [(ngModel)]="p4" fxFlex>P4.5</mat-checkbox>
                                <mat-checkbox class="small-margin" [(ngModel)]="p3" fxFlex>P3</mat-checkbox>
                                <mat-checkbox class="small-margin" [(ngModel)]="p0" fxFlex>P0</mat-checkbox>
                            </section>
                        </mat-card>
                    </div>
                    <div fxFlex="15">
                        <mat-card>
                            <section fxLayoutAlign="center start">
                                <mat-checkbox class="small-margin" [(ngModel)]="core" fxFlex>Core</mat-checkbox>
                                <mat-checkbox class="small-margin" [(ngModel)]="managed" fxFlex>Managed</mat-checkbox>
                            </section>
                        </mat-card>
                    </div>
                </div>

                <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="30px">
                    <div fxLayout.md="row" fxLayout.lg="row" fxLayout.xl="row" fxLayout.sm="column" fxLayout.xs="column"
                        fxLayoutGap="30px" fxFlex="100">
                        <div fxFlex.md="25" fxFlex.lg="25" fxFlex.xl="25" fxFlex.sm="100" fxFlex.xs="100">
                            <mat-card class="example-card">
                                <mat-card-header>
                                    <!-- <div mat-card-avatar class="header-image"></div> -->
                                    <mat-icon aria-hidden="false" aria-label="Q1" mat-card-avatar>ballot</mat-icon>
                                    <mat-card-title>Q1</mat-card-title>
                                    <mat-card-subtitle>APR-MAY-JUN</mat-card-subtitle>
                                </mat-card-header>
                                <img mat-card-image src="../../assets/img/chart.png" alt="Chart">

                                <p>
                                    FSE: 0.02
                                    <br />
                                    Mod: 1.12
                                    <br />
                                    PM : 0.02
                                    <br />
                                    SEC : 0.02
                                    <br />

                                </p>
                            </mat-card>
                        </div>
                        <div fxFlex.md="25" fxFlex.lg="25" fxFlex.xl="25" fxFlex.sm="100" fxFlex.xs="100">
                            <mat-card class="example-card">
                                <mat-card-header>
                                    <!-- <div mat-card-avatar class="header-image"></div> -->
                                    <mat-icon aria-hidden="false" aria-label="Q1" mat-card-avatar>ballot</mat-icon>
                                    <mat-card-title>Q2</mat-card-title>
                                    <mat-card-subtitle>APR-MAY-JUN</mat-card-subtitle>
                                </mat-card-header>
                                <img mat-card-image src="../../assets/img/chart.png" alt="Chart">
                                <mat-card-content>
                                    <p>
                                        $20000
                                    </p>
                                </mat-card-content>
                                <mat-card-actions>
                                    <button mat-stroked-button>
                                        DETAIL
                                    </button>
                                </mat-card-actions>
                            </mat-card>
                        </div>
                        <div fxFlex.md="25" fxFlex.lg="25" fxFlex.xl="25" fxFlex.sm="100" fxFlex.xs="100">
                            <mat-card class="example-card">
                                <mat-card-header>
                                    <!-- <div mat-card-avatar class="header-image"></div> -->
                                    <mat-icon aria-hidden="false" aria-label="Q1" mat-card-avatar>ballot</mat-icon>
                                    <mat-card-title>Q3</mat-card-title>
                                    <mat-card-subtitle>APR-MAY-JUN</mat-card-subtitle>
                                </mat-card-header>
                                <img mat-card-image src="../../assets/img/chart.png" alt="Chart">
                                <mat-card-content>
                                    <p>
                                        $20000
                                    </p>
                                </mat-card-content>
                                <mat-card-actions>
                                    <button mat-stroked-button>
                                        DETAIL
                                    </button>
                                </mat-card-actions>
                            </mat-card>
                        </div>
                        <div fxFlex.md="25" fxFlex.lg="25" fxFlex.xl="25" fxFlex.sm="100" fxFlex.xs="100">
                            <mat-card class="example-card">
                                <mat-card-header>
                                    <!-- <div mat-card-avatar class="header-image"></div> -->
                                    <mat-icon aria-hidden="false" aria-label="Q1" mat-card-avatar>ballot</mat-icon>
                                    <mat-card-title>Q4</mat-card-title>
                                    <mat-card-subtitle>APR-MAY-JUN</mat-card-subtitle>
                                </mat-card-header>
                                <img mat-card-image src="../../assets/img/chart.png" alt="Chart">
                                <mat-card-content>
                                    <p>
                                        $20000
                                    </p>
                                </mat-card-content>
                                <mat-card-actions>
                                    <button mat-stroked-button>
                                        DETAIL
                                    </button>
                                </mat-card-actions>
                            </mat-card>
                        </div>
                        <div fxFlex.md="25" fxFlex.lg="25" fxFlex.xl="25" fxFlex.sm="100" fxFlex.xs="100">
                            <mat-card class="example-card">
                                <mat-card-header>
                                    <!-- <div mat-card-avatar class="header-image"></div> -->
                                    <mat-icon aria-hidden="false" aria-label="Q1" mat-card-avatar>ballot</mat-icon>
                                    <mat-card-title>FY Total</mat-card-title>
                                    <mat-card-subtitle>APR-MAY-JUN</mat-card-subtitle>
                                </mat-card-header>
                                <img mat-card-image src="../../assets/img/chart.png" alt="Chart">
                                <mat-card-content>
                                    <p>
                                        $20000
                                    </p>
                                </mat-card-content>
                                <mat-card-actions>
                                    <button mat-stroked-button>
                                        DETAIL
                                    </button>
                                </mat-card-actions>
                            </mat-card>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div fxFlex="100" class="padding-above margin-below">

            <div fxLayout.md="column" fxLayout.lg="column" fxLayout.xl="column" fxLayoutGap="30px" fxFlex="100">
                <div fxLayoutAlign="center start" class="white padded-above margin-below">
                    <div class="heading">Financial Year</div>
                </div>

                <div fxFlex>
                    <mat-accordion *ngFor="let ibg of revenueMaster | keyvalue">
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    IBG - {{ibg.key}}
                                </mat-panel-title>
                                <mat-panel-description>
                                    P0: 4300
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <mat-accordion *ngFor="let ibu of ibg.value | keyvalue">
                                <mat-expansion-panel>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            IBU - {{ibu.key}}
                                        </mat-panel-title>
                                        <mat-panel-description>
                                            P0: 4300
                                        </mat-panel-description>
                                    </mat-expansion-panel-header>

                                    <mat-accordion *ngFor="let dm of ibu.value | keyvalue">
                                        <mat-expansion-panel>
                                            <mat-expansion-panel-header>
                                                <mat-panel-title>
                                                    Delivery Manager - {{dm.key}}
                                                </mat-panel-title>
                                                <mat-panel-description>
                                                    P0: 4300
                                                </mat-panel-description>
                                            </mat-expansion-panel-header>

                                            <mat-accordion *ngFor="let proj of dm.value | keyvalue">
                                                <mat-expansion-panel>
                                                    <mat-expansion-panel-header>
                                                        <mat-panel-title>
                                                            Project - {{proj.key}}
                                                        </mat-panel-title>
                                                        <mat-panel-description>
                                                            P0: 4300
                                                        </mat-panel-description>
                                                    </mat-expansion-panel-header>



                                                </mat-expansion-panel>
                                            </mat-accordion>

                                        </mat-expansion-panel>
                                    </mat-accordion>
                                </mat-expansion-panel>
                            </mat-accordion>


                        </mat-expansion-panel>

                    </mat-accordion>

                </div>

            </div>
        </div>
        <div fxFlex="100" class="padding-above">
            <br />
            <br />
            <br />
            <br />
            <br />
        </div>
        <div fxFlex="100" class="padding-above">
        </div>
        <div fxFlex="100" class="padding-above">
        </div>
        <div fxFlex="100" class="padding-above">
        </div>
    </div>
</div>