<app-header></app-header>
<div class="top_content" fxFill>

    <div fxLayout="column" fxLayout.sm="column" fxLayout.xs="column" fxFlex="90" fxFlex.md="99" fxFlex.xs="99"
        fxFlex.sm="99" fxFlexOffset="5" fxFlexOffset.md="1" fxFlexOffset.xs="1" fxFlexOffset.sm="1">
        <div fxFlex>
            <div fxLayout="column" fxLayoutGap="20px" class="add-subscription-subscriber-details">
                <div fxLayoutAlign="center start" class="white padded-above">
                    <div class="heading">{{calYearDispTit}}</div>
                </div>
                <div fxLayoutAlign="center start" class="white padded-above" fxLayoutGap="20px">
                    <div fxFlex fxLayoutGap="20px">
                        <mat-form-field>
                            <mat-label>{{calYearDispTit}}</mat-label>

                            <mat-select (selectionChange)="yearChanged($event)">
                                <mat-option *ngFor="let option of calYearDisp" [value]="option.title">
                                    {{(calYear === true) ? option.title: option.value}}
                                </mat-option>
                            </mat-select>


                        </mat-form-field>
                        <mat-slide-toggle color="primary" [(ngModel)]="calYear" (change)="changeYearType($event)">
                            Calender Year</mat-slide-toggle>
                    </div>
                    <div fxFlex="25">
                        <mat-card>
                            <section fxLayoutAlign="center start">
                                <mat-checkbox class="small-margin" (change)="changeOption($event)" name="p5" fxFlex
                                    [checked]="true">P5</mat-checkbox>
                                <mat-checkbox class="small-margin" (change)="changeOption($event)" name="p45" fxFlex
                                    [checked]="true">P4.5</mat-checkbox>
                                <mat-checkbox class="small-margin" (change)="changeOption($event)" name="p3" fxFlex
                                    [checked]="true">P3</mat-checkbox>
                                <!-- <mat-checkbox class="small-margin" [(ngModel)]="p0" fxFlex>P0</mat-checkbox> -->
                            </section>
                        </mat-card>
                    </div>
                    <div fxFlex="15">
                        <mat-card>
                            <section fxLayoutAlign="center start">
                                <mat-checkbox class="small-margin" (change)="changeOption($event)" name="core" fxFlex
                                    [checked]="true">Core</mat-checkbox>
                                <mat-checkbox class="small-margin" (change)="changeOption($event)" name="managed" fxFlex
                                    [checked]="true">Managed</mat-checkbox>
                            </section>
                        </mat-card>
                    </div>
                </div>

                <div fxLayout="column" fxLayout.lt-md="column" fxLayoutGap="30px">
                    <div fxLayout.md="row" fxLayout.lg="row" fxLayout.xl="row" fxLayout.sm="column" fxLayout.xs="column"
                        fxLayoutGap="20px" fxFlex="100">
                        <div fxFlex.md="32" fxFlex.lg="32" fxFlex.xl="32" fxFlex.sm="100" fxFlex.xs="100">
                            <mat-card class="example-card">
                                <mat-card-header>
                                    <!-- <div mat-card-avatar class="header-image"></div> -->
                                    <mat-icon aria-hidden="false" aria-label="Q1" mat-card-avatar>ballot</mat-icon>
                                    <mat-card-title>Q1</mat-card-title>
                                    <mat-card-subtitle>
                                        {{getMonths("Q1")}}
                                    </mat-card-subtitle>
                                </mat-card-header>
                                <canvas baseChart [data]="doughnutChartQ1Data" [labels]="doughnutChartLabels"
                                    [chartType]="doughnutChartType">
                                </canvas>
                                <canvas baseChart [data]="barChartQ1Data" [labels]="barChartLabels"
                                    [chartType]="barChartType">
                                </canvas>
                            </mat-card>
                        </div>
                        <div fxFlex.md="32" fxFlex.lg="32" fxFlex.xl="32" fxFlex.sm="100" fxFlex.xs="100">
                            <mat-card class="example-card">
                                <mat-card-header>
                                    <!-- <div mat-card-avatar class="header-image"></div> -->
                                    <mat-icon aria-hidden="false" aria-label="Q1" mat-card-avatar>ballot</mat-icon>
                                    <mat-card-title>Q2</mat-card-title>
                                    <mat-card-subtitle>{{getMonths("Q2")}}</mat-card-subtitle>
                                </mat-card-header>
                                <canvas baseChart [data]="doughnutChartQ2Data" [labels]="doughnutChartLabels"
                                    [chartType]="doughnutChartType">
                                </canvas>
                                <canvas baseChart [data]="barChartQ2Data" [labels]="barChartLabels"
                                    [chartType]="barChartType">
                                </canvas>
                                <mat-card-content>

                                </mat-card-content>

                            </mat-card>
                        </div>
                        <div fxFlex.md="32" fxFlex.lg="32" fxFlex.xl="32" fxFlex.sm="100" fxFlex.xs="100">
                            <mat-card class="example-card">
                                <mat-card-header>
                                    <!-- <div mat-card-avatar class="header-image"></div> -->
                                    <mat-icon aria-hidden="false" aria-label="Q1" mat-card-avatar>ballot</mat-icon>
                                    <mat-card-title>Q2</mat-card-title>
                                    <mat-card-subtitle>{{getMonths("Q2")}}</mat-card-subtitle>
                                </mat-card-header>
                                <canvas baseChart [data]="doughnutChartQ2Data" [labels]="doughnutChartLabels"
                                    [chartType]="doughnutChartType">
                                </canvas>
                                <canvas baseChart [data]="barChartQ2Data" [labels]="barChartLabels"
                                    [chartType]="barChartType">
                                </canvas>
                                <mat-card-content>

                                </mat-card-content>

                            </mat-card>
                        </div>


                    </div>
                    <div fxFlex fxLayoutAlign="center start" fxLayoutGap="20px">
                        <div fxFlex.md="33" fxFlex.lg="33" fxFlex.xl="33" fxFlex.sm="100" fxFlex.xs="100">
                            <mat-card class="example-card">
                                <mat-card-header>
                                    <!-- <div mat-card-avatar class="header-image"></div> -->
                                    <mat-icon aria-hidden="false" aria-label="Q1" mat-card-avatar>ballot</mat-icon>
                                    <mat-card-title>Q4</mat-card-title>
                                    <mat-card-subtitle>{{getMonths("Q4")}}</mat-card-subtitle>
                                </mat-card-header>
                                <canvas baseChart [data]="doughnutChartQ4Data" [labels]="doughnutChartLabels"
                                    [chartType]="doughnutChartType">
                                </canvas>
                                <canvas baseChart [data]="barChartQ4Data" [labels]="barChartLabels"
                                    [chartType]="barChartType">
                                </canvas>
                                <mat-card-content>

                                </mat-card-content>

                            </mat-card>
                        </div>
                        <div fxFlex.md="33" fxFlex.lg="33" fxFlex.xl="33" fxFlex.sm="100" fxFlex.xs="100">
                            <mat-card class="example-card">
                                <mat-card-header>
                                    <!-- <div mat-card-avatar class="header-image"></div> -->
                                    <mat-icon aria-hidden="false" aria-label="Q1" mat-card-avatar>ballot</mat-icon>
                                    <mat-card-title>FY Total</mat-card-title>
                                    <mat-card-subtitle>APR-MAY-JUN</mat-card-subtitle>
                                </mat-card-header>
                                <canvas baseChart [data]="doughnutChartTData" [labels]="doughnutChartLabels"
                                    [chartType]="doughnutChartType">
                                </canvas>
                                <canvas baseChart [data]="barChartTData" [labels]="barChartLabels"
                                    [chartType]="barChartType">
                                </canvas>
                                <mat-card-content>

                                </mat-card-content>

                            </mat-card>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div fxFlex="100" class="padding-above margin-below">

            <div fxLayout.md="column" fxLayout.lg="column" fxLayout.xl="column" fxLayoutGap="30px" fxFlex="100">
                <div fxLayoutAlign="center start" class="white padded-above margin-below">
                    <div class="heading">Financial Year</div>
                </div>

                <div fxFlex>
                        <mat-chip-list aria-label="P Profile" fxLayoutAlign="end center" class="margin-below">
                            <p>Legend &nbsp;</p>
                                <mat-chip color="primary" selected>{{"P3" }}</mat-chip>
                                <mat-chip color="accent" selected>{{"P4.5"}}</mat-chip>
                                <mat-chip color="warn" selected>{{"P5" }}</mat-chip>
                            </mat-chip-list>

                    <mat-accordion *ngFor="let ibg of ibgTotal.ibg | keyvalue">
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    IBG - {{ibg.key}}
                                </mat-panel-title>
                                <mat-panel-description fxLayoutAlign="end center">

                                    <mat-chip-list aria-label="P Profile">
                                        <!-- <mat-chip>{{" MOD " + ibg.value.MOD}}</mat-chip>
                                        <mat-chip>{{" PMGT " + ibg.value.PMGT }}</mat-chip>
                                        <mat-chip color="primary" selected>{{" FS " + ibg.value.FS}}</mat-chip>
                                        <mat-chip color="accent" >{{"SEC" + ibg.value.SEC }}</mat-chip> -->
                                        <mat-chip color="primary" selected>{{ibg.value.p3 }}</mat-chip>
                                        <mat-chip color="accent" selected>{{ibg.value.p45 }}</mat-chip>
                                        <mat-chip color="warn" selected>{{ibg.value.p5 }}</mat-chip>
                                    </mat-chip-list>

                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <mat-accordion *ngFor="let ibu of ibg.value.ibu | keyvalue">
                                <mat-expansion-panel>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            IBU - {{ibu.key}}
                                        </mat-panel-title>
                                        <mat-panel-description fxLayoutAlign="end center">
                                            <mat-chip-list aria-label="P Profile">
                                                <mat-chip color="primary" selected>{{ibu.value.p3 }}</mat-chip>
                                                <mat-chip color="accent" selected>{{ibu.value.p45 }}</mat-chip>
                                                <mat-chip color="warn" selected>{{ibu.value.p5 }}</mat-chip>
                                            </mat-chip-list>
                                        </mat-panel-description>
                                    </mat-expansion-panel-header>

                                    <mat-accordion *ngFor="let dm of ibu.value.dm | keyvalue">
                                        <mat-expansion-panel>
                                            <mat-expansion-panel-header>
                                                <mat-panel-title>
                                                    Delivery Manager - {{dm.key}}
                                                </mat-panel-title>
                                                <mat-panel-description fxLayoutAlign="end center">
                                                    <mat-chip-list aria-label="P Profile">
                                                        <mat-chip color="primary" selected>{{dm.value.p3 }}
                                                        </mat-chip>
                                                        <mat-chip color="accent" selected>{{dm.value.p45 }}
                                                        </mat-chip>
                                                        <mat-chip color="warn" selected>{{dm.value.p5 }}
                                                        </mat-chip>
                                                    </mat-chip-list>
                                                </mat-panel-description>
                                            </mat-expansion-panel-header>
                                            <mat-accordion *ngFor="let proj of dm.value.proj | keyvalue">
                                                <mat-expansion-panel>
                                                    <mat-expansion-panel-header>
                                                        <mat-panel-title>
                                                            Project - {{proj.key}}
                                                        </mat-panel-title>
                                                        <mat-panel-description fxLayoutAlign="end center">
                                                            <mat-chip-list aria-label="P Profile">
                                                                <mat-chip color="primary" selected>
                                                                    {{proj.value.p3 }}</mat-chip>
                                                                <mat-chip color="accent" selected>
                                                                    {{proj.value.p45 }}</mat-chip>
                                                                <mat-chip color="warn" selected>
                                                                    {{proj.value.p5 }}</mat-chip>
                                                            </mat-chip-list>
                                                        </mat-panel-description>
                                                    </mat-expansion-panel-header>
                                                </mat-expansion-panel>
                                            </mat-accordion>

                                        </mat-expansion-panel>
                                    </mat-accordion>
                                </mat-expansion-panel>
                            </mat-accordion>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
            </div>
        </div>
        <div fxFlex="100" class="padding-above">
            <br />
            <br />
            <br />
            <br />
            <br />
        </div>
        <div fxFlex="100" class="padding-above">
        </div>
        <div fxFlex="100" class="padding-above">
        </div>
        <div fxFlex="100" class="padding-above">
        </div>
    </div>
</div>