/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.padding-above{
    padding-top: 20px;
}
.margin-below{
    margin-bottom: 20px;
}
.heading {
    color: #575452;
    font-size: 24px;
    position: relative;
    z-index: 1;
    text-align: center;
    padding-bottom: 15px;
  }
  .heading:after {
    content: "";
    position: absolute;
    left: 50%;
    margin-left: -50px;
    bottom: 0;
    width: 100px;
    border-bottom: 2px solid ;
  }